:root{
    --primary: rgb(230, 115, 7);
    --dark:rgb(8, 4, 4);
    --light:#fff;
    --shadow:0 1px 5px rgba(104,104,104,0.8);
    --danger: rgba(104,104,104,0.8);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  url(fonts/Rubik_Distressed/RubikDistressed-Regular.ttf);;
    line-height: 1.4;
}
header{
    margin: auto;
    padding: 30px 30px;
    background: var(--dark);
}
body{
    background: var(--dark);
}
.site-name{
    text-align: center;
    margin: 20px 0;
}

.site-name h1{
    color: var(--primary);
    font-size: 4rem;
}


nav{
    margin-bottom: 20px;
}
nav ul{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
    list-style: none;
}

nav a{
    background: var(--danger);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.1rem;
    transition: 1s;
}
nav a:hover{
    background: var(--primary);
}
.search{
    display: flex;
}
.search input{
    border: none;
    outline: none;
    padding: 5px 5px;
    margin: 0;
    min-width: 90%;
}
.search ::placeholder{
    color: var(--danger);
}
button{
    min-width: 10%;
    padding: 5px 6px;
    border: 0;
    background-color: var(--danger);
    color: var(--primary);
    font-size: 1.1rem;
}
/* -------------------lorem begins------------------- */
.lorem{
    color: var(--light);
    margin: auto;
    padding: 50px 80px
}
.lorem-data{
    margin: 0 50px;
    text-align: center;
}
.image{
    border: 1px solid var(--primary);
    padding: 10rem 0rem;
    margin: 0;
    margin-bottom: 20px;
}
.image i{
    background: var(--danger);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: 1s;
}
.image i:hover{
    background: var(--primary);
}
.dwn-btn{
    color: var(--light);
    transition: 1s;
}
.alt-btn{
    color: var(--light);
    transition: 1s;
}
.dwn-btn:hover{
    background: var(--primary);
}
.alt-btn:hover{
    background: var(--primary);
}
.comment{
    margin-top: 50px;
}
.two{
    display: grid;
    grid-gap: 20px;

}
textarea{
    background: var(--danger);
    border-radius: 20px;
    padding: 20px;
    color: var(--light);
    outline: none;
    font-size: 16px;
}
.comment-section{
    margin-top: 50px;
}
.comment-section h3{
    margin-bottom: 20px;
}
.comments{
    background: var(--danger);
    padding: 9px;
    border-radius: 20px;
    text-align: left;
    line-height: 1.;
}


.fa-thumbs-up{
    background: var(--dark);
    padding: 5px;
    font-size: 20px;
}

.fa-thumbs-down{
  background: var(--dark);
  padding: 5px;
  font-size: 20px;  
}

.thumb{
    display: flex;
    justify-content: end;
}
span{
   display: flex;

}









/* ----------------footer---------------------- */
footer{
    margin-top: 2rem;
    background: var(--primary);
    color: var(--dark);
    text-align: center;
    padding: 1rem;
}
/* --------------end of footer----------------- */

@media(max-width:770px) {
    header nav ul{
    grid-template-columns: 1fr;
    }

}

@media(max-width:500px) {
    .search input{
        min-width: 90%;
    }
    .search button{
        min-width: 10%;
        font-size: 0.6rem;
    }
}